
@{
    ViewBag.Title = "DisplayFriends";
}

<h2>DisplayFriends</h2>

<table class="table">

    @foreach (var friend in Model.RequestsFrom)
    {
        <tr>


            <td>@friend.Name</td>
            <td>@friend.Gender</td>
            <td>@friend.BirthDate</td>
            <td>
                <input type="button" class="btn btn-default" value="Delete" onclick="location.href='@Url.Action("DeleteFriend", "Profile", new { id = friend.Id } )'" />
            </td>

        </tr>
    }
</table>

