@using LuvDating.Models
@model SenderListModel
@{
    ViewBag.Title = "Friendrequests";
}

<h2>FriendRequests</h2>

<table class="table">

    @foreach (var friend in Model.Requests)
    {
        <tr>


            <td>@friend.Name</td>

        </tr>
    }
</table>