@using LuvDating.Models
@model ProfileIndexViewModel
@{
    ViewBag.Title = "index";
}

<h2>@Model.Name</h2>
<h2>@Model.Gender</h2>
<h2>@Model.Birth</h2>
<img style="max-width: 100%; max-height: 215px;" src="~/UploadedFiles/@Model.Image" alt="Profilbild" />

<h1>@Html.ActionLink("Upload image", "index", "FileUpload")</h1>


