
.post-list, .message-form {
    background-color: #CFD8DC;
    padding: 2em;
}

.post-list {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
}

    .post-list .message {
        align-self: flex-start;
        width: 70%;
        padding: 1em 1em 1.5em;
        margin-bottom: 1px;
        background-color: #ECEFF1;
    }

        .post-list .message.own-message {
            align-self: flex-end;
            background-color: #90A4AE;
        }

.own-post + .other-post,
.other-post + .own-post {
    margin-top: 1.5em;
}

.post-list .post header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

    .post-list .post header time,
    .post-list .post header h2 {
        margin: 0;
        font-size: 16px;
        line-height: 1;
    }

    .post-list .post header h2 {
        flex-grow: 1;
    }

    .post-list .post header time {
        text-transform: uppercase;
    }

.post-list .post main {
    font-size: 20px;
}

.post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
}

    .post-form button,
    .post-form textarea {
        width: 50%;
        max-width: none;
        border: none;
        padding: 1em;
    }

    .post-form textarea {
        background-color: #ECEFF1;
    }

        .post-form textarea:focus {
            background-color: #fff;
            box-shadow: 0 0 0.75rem rgba(0, 131, 143, 0.4);
            outline: none;
        }

    .post-form button {
        margin-top: 1em;
        background-color: #00838F;
        color: #fff;
    }

