@using LuvDating.Models
@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    @foreach (var profile in Model.UserList)
    {


        <div class="col-sm-6 col-md-3">
            <div style="max-width: 290px; max-height: 340px; min-height: 340px; min-width:290px;" class="thumbnail">
                <img style="max-width: 200px; max-height: 225px;" src="~/UploadedFiles/@profile.ImageName" alt="Profilbild" />
                <div class="caption">
                    <h3>@profile.Name</h3>
                    <p>@profile.Bio</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>

    }
</div>